@page "/counter"

<h1>Counter</h1>

<AuthorizeView Roles="admin">
    <Authorized>
        <p>Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <p class="alert-danger alert">You must be an admin to view this page!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
