p {
    color: #0080ff;
    background-color: #e0e0e0;
    font-size: 25px;
}

.starter-courses {
    border-top: 1px solid #ababab;
    padding: 1em 0;
}

.card-item {
    width: 85%;
}

    .card-item h5 {
        font-weight: bold;
    }

.card {
    min-height: 22em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-between;
}

.detail-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffe855;
}

    .detail-button:hover {
        background-color: #cab840;
        font-weight: 900;
    }

