@page "/admin/eventManagement/editevent/{Id:int}"
@using Symphony.BlazorServerApp.Controls.NewComponents
@using Symphony.BlazorServerApp.Controls.Utilities

@using Symphony.BlazorServerApp.Controls.FormComponents


<div class="container mb-5">

    <AuthorizeView Roles="admin">
        <Authorized Context="User">
            <h2 class="fw-bolder text-center fs">Update a Event</h2>
           <Symphony.BlazorServerApp.Controls.EventComponents.UpdateEventComponent newId="Id"/>
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    #region Parameter
    [Parameter]
    public int Id { get; set; }
    #endregion
}