<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-white"
    style="background-image: linear-gradient(90deg, #3a0647 0%, rgb(5, 39, 103) 70%) ">
    <!-- Grid container -->
    <div class="container-md">
        <!-- Section: Links -->
        <section>
            <!-- Grid row-->
            <div class="text-center first-sec">
                <!-- Grid column -->

                <a href="/aboutus" class="text-uppercase fw-bold">
                    <p class="text-white ">About us</p>
                </a>

                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->

                <a href="/new" class="text-uppercase fw-bold">
                    <p class="text-white">News</p>
                </a>

                <!-- Grid column -->
                <!-- Grid column -->

                <a href="/faq" class="text-uppercase fw-bold">
                    <p class=" text-white">FAQ</p>
                </a>
                   <a href="/event" class="text-uppercase fw-bold">
                    <p class=" text-white">Event</p>
                </a>

                <!-- Grid column -->
                <!-- Grid column -->

                <a href="/contact" class="text-uppercase fw-bold">
                    <p class="text-white">Contact Us</p>
                </a>

                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-2" />

        <!-- Section: Text -->
        <section>
            <div class="row d-flex justify-content-center">
                <div>
                    <p>
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->
        <!-- Section: Social -->
        <section class="third-sec text-center">
            <a href="https://facebook.com/" class="text-white">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" class="text-white">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://google.com/" class="text-white">
                <i class="fab fa-google"></i>
            </a>

            <a href="https://linkedin.com/" class="text-white">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/" class="text-white">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3">
        © 2021 Copyright:
        <a class="text-white" href="">SymphonyInstitute.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- End of .container -->
