@page "/admin/userManagement/createTeacher"

@using Symphony.BlazorServerApp.Controls.FormComponents
@using Symphony.BlazorServerApp.Controls.Utilities

<div class="container-fluid">
    <AuthorizeView Roles="admin">
        <Authorized Context="User">
            <h2 class="fw-bolder text-center fs">Create a Teacher</h2>
            <CreateUserComponent CreateWho="teacher" />
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</div>