@page "/admin/userManagement/createUser"

<div class="container">
    <AuthorizeView Roles="admin">
        <Authorized Context="User">
            <h2 class="fw-bolder text-center">Create a User</h2>
            <CreateUserComponent InputUser="@InputUser" IsCreateAdmin="false" />
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    #region DTO
    private CreateAppUserVM InputUser { get; set; } = new();
    #endregion
}