@page "/consult/create"

@inject NavigationManager Nav
@using Symphony.BlazorServerApp.Services.ConsultRegisationService

@inject IConsultRegistrationService _service

<div class="container-lg ">
    <h3 class="text-center fw-bold mb-3">Need our advice? Please fill in below form</h3>
    <img src="images/need_support.jpg" style="width: 50%;" class="d-block mx-auto mb-3 " alt="Symphony Institute" />
    @if (Input is null)
    {
        <div class="text-center">
            <div class="loadingio-spinner-bars-f8jbu6upslt">
                <div class="ldio-p5olh5z9oq">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <EditForm Model="Input" OnValidSubmit="CreateSubject">
            <DataAnnotationsValidator />
            <div class="row justify-content-md-center">
                <div class="col-lg-6  mb-3">
                    <label class="form-label fw-bold">Your Full Name <span class="text-danger fw-bold">*</span></label>
                    <InputText @bind-Value="Input.FullName" class="form-control" required />
                    <ValidationMessage For="@(() => Input.FullName)" />
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-lg-6 mb-3">
                    <label class="form-label fw-bold">Your Phone Number<span class="text-danger fw-bold">*</span></label>
                    <InputText @bind-Value="Input.Phone" class="form-control" required />
                    <ValidationMessage For="@(() => Input.Phone)" />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6 mb-3">
                    <label class="form-label fw-bold">Your Email <span class="text-danger fw-bold">*</span></label>
                    <InputText @bind-Value="Input.Email" class="form-control" required />
                    <ValidationMessage For="@(() => Input.Email)" />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6 mb-3">
                    <label class="form-label fw-bold">You message to us <span class="text-danger fw-bold">*</span></label>
                    <InputTextArea @bind-Value="Input.Message" class="form-control" rows="5" required />
                    <ValidationMessage For="@(() => Input.Message)" />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6 mb-5">
                    <CreateButtonForForm FirstBtn="Submit" />
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    #region Objects
    private ConsultCreateRequest Input { get; set; } = new();
    private bool startDate { get; set; } = false;
    #endregion

    private async Task CreateSubject()
    {
        if (Input is not null)
        {
            await _service.PostConsultRegistration(Input);

            Nav.NavigateTo("/faq");
        }
    }
}