@page "/aboutus"

<div class="main">
    <h1 class="fw-bold text-center">About Us</h1>
    <div class="main-container">
        <div class="grid-item grid-item-1">
            <img src="images/uni2.jpg" alt="Symphony Institute" />
        </div>
        <div class="grid-item grid-item-2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quaerat saepe repudiandae odit quis maxime fuga facilis excepturi id magni molestias,
                inventore perferendis ut totam explicabo porro corrupti voluptate culpa, assumenda ipsa? Beatae deserunt
                omnis mollitia alias eum, praesentium fuga vel, unde voluptatem fugit aspernatur magnam optio excepturi
                recusandae assumenda minima aliquid aperiam tempore odit placeat? Nostrum quaerat dignissimos voluptas
                et voluptates aut non cupiditate consequuntur in aspernatur nesciunt molestias nemo, velit laboriosam
                tempora explicabo repudiandae libero magnam iure labore ducimus nisi eligendi ipsum! Natus iste soluta
                vitae assumenda rerum beatae corporis sunt. Doloribus unde nihil quia numquam accusamus voluptate ab!
            </p>
        </div>
        <div class="grid-item grid-item-3">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quaerat saepe repudiandae odit quis maxime fuga facilis excepturi id magni molestias,
                inventore perferendis ut totam explicabo porro corrupti voluptate culpa, assumenda ipsa? Beatae deserunt
                omnis mollitia alias eum, praesentium fuga vel, unde voluptatem fugit aspernatur magnam optio excepturi
                recusandae assumenda minima aliquid aperiam tempore odit placeat?
            </p>
        </div>
        <div class="grid-item grid-item-4">
            <img src="images/bookshelf.jpg" alt="Symphony Institute" />
        </div>
        <div class="grid-item grid-item-5">

        </div>
        <div class="grid-item grid-item-6">

        </div>
    </div>
    <div class="test-size">abas</div>
</div>
@code {

}