.main img {
    border-radius: 1em;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
    font-style: italic;
}

/*
.grid-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: max(auto);
    row-gap: 3em;
    column-gap: 3em;
}


.grid-item {
    margin: auto;
} */
