<AuthorizeView>
    <Authorized>
        <ul class="nav">
            <li class="nav-item">
                <a href="Identity/Account/Manage" class="nav-link link-dark px-2">Hello Admin, @context.User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn link-dark ">Log out</button>
                </form>
            </li>
        </ul>
    </Authorized>
</AuthorizeView>