<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand mx-auto" href="">Symphony Institute</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3 fw-bold">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons me-2">
                    dashboard
                </span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3 fw-bold dropdown">
            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons me-2">
                    people
                </span> User Management
            </NavLink>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="createAdmin">Admin Management</a></li>
                <li><a class="dropdown-item" href="#">Teacher Management</a></li>
                <li><a class="dropdown-item" href="#">User Management</a></li>
            </ul>
        </li>
        <li class="nav-item px-3 fw-bold">
            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons me-2">
                    menu_book
                </span> Course Management
            </NavLink>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item px-3 fw-bold">
            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons me-2">
                    quiz
                </span> Exam Management
            </NavLink>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item px-3 fw-bold">
            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons me-2">
                    feed
                </span> Registration
            </NavLink>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
