@page "/event"

@inject IEventService eventService
@using Symphony.ViewModels.Consult
@using Symphony.BlazorServerApp.Services.EventServices


<main class="main">
    @if (Data == null)
    {
    <div class="text-center">
        <div class="loadingio-spinner-bars-f8jbu6upslt">
            <div class="ldio-p5olh5z9oq">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>

    }
    else
    {
        <div class="text-center text-warning">
            <h1 class="display-1 ">Event</h1>
        </div>
        <hr>
        <div class="container">
         
            <div class="row">
                @foreach (var item in Data)
                {
                    <div class="col-12">
                        <div class="text-center fw-bold card border-dark mb-3" style="min-width: 25rem;">
                            <div class="card-header display-3">@item.Title</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">@item.CreatedAt</h5>
                                <p class="card-text">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</main>

@code {
    private IEnumerable<EventVM> Data = null;

    protected async override Task OnInitializedAsync()
    {
        Data = await eventService.GetEventsAsync();
    }
}



