.main-content, .upload, .navigator {
    padding: 2em;
}

.upload {
    align-items: flex-start;
}

.main-content li {
    list-style-type: none;
    line-height: 3em;
    font-size: 1.2em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subject-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 1em;
    
}
.subject-image img {
    max-width: 15em;
    height: auto;
}

#fileup {
    height: 20em;
}

.back, .edit {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #171717;
}

.back:hover {
    color: #1c3ce8;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 2em;
}

.edit:hover {
    color: #1c3ce8;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 2em;
} 