<div class="col-md-3 d-flex justify-content-start">
    <button class="btn-lg btn-dark d-flex justify-content-between border-0 me-3" type="submit">
        Submit
        <span class="ms-1 material-icons">
            add
        </span>
    </button>
    <button class="btn-lg d-flex justify-content-between border-0" type="reset" style="background-color: #4a235a; color: #fbebeb">
        Reset
        <span class="ms-1 material-icons">
            restart_alt
        </span>
    </button>
</div>
