@page "/admin/userManagement/createAdmin"

@using Symphony.BlazorServerApp.Controls.FormComponents
@using Symphony.BlazorServerApp.Controls.Utilities

<div class="container">
    <AuthorizeView Roles="admin">
        <Authorized Context="User">
            <h2 class="fw-bolder text-center fs">Create an Admin</h2>
            <CreateUserComponent InputUser="@InputUser" IsCreateAdmin="true"/>
        </Authorized>
        <NotAuthorized>
            <UnauthorizedAccess />
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
        #region DTO
    private CreateAppUserVM InputUser { get; set; } = new();
    #endregion
}