@page "/new"

@inject INewService newService
@using Symphony.BlazorServerApp.Services.NewService
@using Symphony.ViewModels.VMs

<main class="main">
    @if (Data == null)
    {
    <div class="text-center">
        <div class="loadingio-spinner-bars-f8jbu6upslt">
            <div class="ldio-p5olh5z9oq">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>

    }
    else
    {
        <div class="container m-4 shadow p-5" style="background-color: white; border-radius: 10px; font-family: 'Roboto', sans-serif; ">
            <div class="header p-2 m-2 display-4  text-center" style="font-weight:900;">News</div>
            <div class="content">
                @foreach (var item in Data)
                {
                    <div class="card w-60 h-auto mb-3">

                        <div class="card-header" style="background-color: #c3c3c3; font-family: 'Roboto', sans-serif; height: 30px; font-size: 13px;"><div class="badge p-2 bg-primary"> @item.CreatedAt</div></div>
                        <div class="card-body" style="background-color: #ebebeb;">
                            <div class="title display-6 mb-2" style="font-family: 'PT Serif', serif;">@item.Title</div>
                            <div class="decription p-2 m-2 " style="font-family: 'PT Serif', serif;margin-left:10px;"> @item.Description</div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
   

 

</main>

@code {
    private IEnumerable<NewsVM> Data = null;
    protected async override Task OnInitializedAsync()
    {
         Data = await newService.GetNewsAsync();

    }
}






