@page "/new"

@inject INewService newService
@using Symphony.ViewModels.Consult
@using Symphony.BlazorServerApp.Services.NewService

<main class="main">
    @if (Data == null)
    {
        <LoadingComponent />
    }
    else
    {
<div>
    @foreach (var item in Data)
    {
        <p>@item.Title</p>
        <p>@item.Description</p>

    }
</div>
    }

</main>

@code {
    private IEnumerable<NewsVM> Data = null;
    protected async override Task OnInitializedAsync()
    {
        var Data = await newService.GetNewsAsync();

    }
}






