@page "/new"

@inject INewService newService
@using Symphony.ViewModels.Consult
@using Symphony.BlazorServerApp.Services.NewService

<main class="main">
    @if (Data == null)
    {
    <div class="text-center">
        <div class="loadingio-spinner-bars-f8jbu6upslt">
            <div class="ldio-p5olh5z9oq">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>

    }
    else
    {

    <h1 class="text-center display-1 mb-2 text-warning">News </h1>

       <hr>
        <div class="container">
           
            <div class="row">
                @foreach (var item in Data)
                {
                    <div class="col-12">
                        <div class="card border-dark mb-3" style="min-width: 25rem;">
                            <div class="card-header display-3 fw-bold">@item.Title</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">@item.CreatedAt</h5>
                                <p class="card-text">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</main>

@code {
    private IEnumerable<NewsVM> Data = null;
    protected async override Task OnInitializedAsync()
    {
         Data = await newService.GetNewsAsync();

    }
}






