
@page "/new/{id:int}"
@inject INewService newService
@using Symphony.ViewModels.Consult
@using Symphony.BlazorServerApp.Services.NewService

<main>
    @if (Data == null)
    {
   <LoadingComponent />
   
    }
    else
    {
<div class="container m-2">
    
    <h1 class="fs-1 mg-5 font-monospace text-decoration-underline p-2">@Data.Title</h1>
    <p style=" line-height: 1.6;" class="p-3 fw-lighter  p-2 ">@Data.Description</p>
</div>
      
       
    }

</main>


@code {
    [Parameter]
    public int id { get; set; }

    public NewsVM Data = null;

    protected async override Task OnInitializedAsync()
    {

        Data = await newService.GetNewAsync(id);
    }

}
