@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView Roles="admin">
        <Authorized>
            <div class="sidebar">
                <NavMenuAdmin />
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="sidebar-user">
                <NavMenu />
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <LoginDisplayAdmin />
                </Authorized>
                <NotAuthorized>
                    <LoginDisplay />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
