@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AuthorizeView Roles="admin">
            <Authorized>
                <NavMenuAdmin />
            </Authorized>
            <NotAuthorized>
                <NavMenu />
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <LoginDisplayAdmin />
                </Authorized>
                <NotAuthorized>
                    <LoginDisplay />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
